@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    position: relative;

}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

    width: 100vw;
    height: 100vh;

    background: #ff6395;
}

#table {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#pack {
    width: 104px;
    height: 144px;

    background: url(../img/CuteCards.png);
    background-position: calc(-99.8px * 14) calc(-144px * 3);
}

#draft, #discartedCard {
    position: relative;

    /* overflow: hidden; */
}

.border {
    position: absolute;
    margin-top: -6px;
    margin-left: -4px;
    padding: 1px;
    width: 90px;
    height: 134px;
    border: 10px solid rgb(255, 235, 122);
    border-radius: 25px;

    animation:  ease-out 2s pulse infinite;
}

.border-discarted {
    position: absolute;

    width: 90px;
    height: 134px;
    border: 10px solid rgb(255, 235, 122);
    border-radius: 25px;

    animation:  ease-out 2s pulse infinite;
}

.deck-border {
    background: none !important;
    position: absolute;

    margin-left: 0px !important;
    margin-top: -6px;

    width: 245px !important;
    height: 134px !important;

    border: 10px solid rgb(255, 235, 122);
    border-radius: 25px;

    animation:  ease-out 2s pulse infinite !important;
    cursor: context-menu !important;
}

.deck-border:hover {
    transform: none !important;
}

#draft,
#discarted {

    width: 104px;
    height: 144px;

    background: url(../img/CuteCards.png);
    background-position: calc(-99.8px * 14) calc(-144px * 3);

    cursor: pointer;

}

#discarted {
    display: none;
    background-position: calc(-99.8px * 14) 0;
}

.stopGame {
    filter: grayscale(100);
    cursor: initial !important;
}

#deck {
    margin-top: 20px;
    position: relative;
}

#deck,
#computer {
    display: flex;
    flex-wrap: nowrap;

    min-width: 300px;

    justify-content: center;
}

#deck>div,
#computer>div {
    width: 102px;
    height: 144px;

    background: url(../img/CuteCards.png);
    animation: .3s ease-out 0s 1 slideInFromUp;

    cursor: pointer;

}

#deck>div+div,
#computer>div+div {
    margin-left: -50px;
}


.Spades {
    /* background-position-y: -144px; */
    background-position-y: calc(-144px * 2) !important;
}

.Hearts {
    background-position-y: calc(-144px * 3) !important;
}

.Clubs {
    background-position-y: 0 !important;
}

.Diamonds {
    background-position-y: calc(-144px) !important;
}

.computerCardHidden {
    width: 102px;
    height: 144px;
    background: url(../img/CuteCards.png);
    background-position: calc(-99.8px * 14) calc(-144px * 2) !important;

}

.closed {
    display: none;
}

#gameButtons {
    height: 65px;
}

.score {
    display: flex;
}


.newGame {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Cute';
    font-size: 40px;
    color: white;
    text-shadow: 5px -1px 0 #000, -4px -3px 0 #000, 3px -4px 0 #000, -1px 5px 0 #000, 3px 3px 0 #000;
    cursor: pointer;

    width: 250px;
    height: 65px;

    border-radius: 18px;

    background: #ffffff;
    box-shadow: inset 0px 0px 0px 5px rgb(207, 207, 207);
    border: 8px solid black;
}

/* Custom font */

@font-face {
    font-family: 'Cute';
    /*a name to be used later*/
    src: url(../fonts/candy.ttf);
    /*URL to font*/
}

#main h1 {
    font-family: 'Cute';
    font-size: 30px;
    color: white;
    
    font-weight: 100;
}

#score {
    width: 100vw;
    max-width: 700px;
    display: flex;

    justify-content: space-between;
    overflow: hidden;
}

#playerRound {
    display: flex;
    height: 16vh;
    flex-direction: row;
}

#players {
    display: flex;
    padding-left: 40%;
    padding-right: 20%;
    padding-top: 10%;
    flex-direction: column;
    height: 15vh;

    justify-content: space-between;
}

#pc-avatar {
    min-width: calc(6vh);
    min-height: 6vh;
    background: url('../img/computer.png') no-repeat;
    background-size: 6vh;
}

#player-avatar {
    min-width: calc(6vh);
    min-height: 7vh;
    background: url('../img/player.png') no-repeat;
    background-size: 6vh;
}

#arrow {
    min-width: 13vw;
    
    min-height: 6vh;
    background: url('../img/arrow.png') no-repeat;
    background-size: 6vh;

    align-self: flex-end;
}

#display{
    /* width: calc(100px + 20vh);
    height: 180px;
    background: url('../img/computerArt.png') no-repeat;
    background-size: 200px; */
    margin-right: -20px;

    min-width: calc(25vh);
    min-height: 21vh;
    background: url('../img/computerArt.png') no-repeat;
    background-size: 25vh;
}

#display h1 {
    color: #000;
    margin: 18% 28%;
    font-size: 50px;
}

/* Animations */

#draft,
#deck>div {
    transition: transform 100ms ease-in-out;
    cursor: pointer;
}

.animateDiscarted {
    animation: 100ms ease-out slideInFromUp
}

#draft:hover,
#deck>div:hover {
    transform: translateY(-20px);
}
#alert {
    margin: 0 auto;

    position: absolute;
    left: 0;
    right: 0;
    top: 40%;

    width: 300px;
    height: 120px;

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 20;

    background: white;
    
    border: 10px solid black;
    border-radius: 20px;

    animation:  ease-out 2s increaseSize forwards;
    
}


#alert h1 {
    font-family: 'Cute';
    color: white;
    font-size: 60px;
    text-align: center;

    text-shadow:
    4px 4px 0 #000,
    -6px -6px 0 #000,
    9px -7px 0 #000,
    -6px 7px 0 #000,
    -2px 9px 0 #000;

    animation:  ease-out 2s fontOpacity forwards;

}

@keyframes slideInFromUp {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes increaseSize {
    0% {
        width: 0;
        height: 0;
    }

    25% {
        width: 330px;
        height: 150px;
    }

    50% {
        width: 300px;
        height: 120px;
    }

    100%{
        width: 0;
        height: 0;
    }
}

@keyframes fontOpacity {
    0% {
        opacity: 0;

    }

    50% {
        opacity: 1;

    }

    100% {
        opacity: 0;
    }
}


@media (min-width: 700px) {
    #score {
        overflow: visible;
    }

    #players {

        padding-right: 10%;

    }

    #arrow {

        padding-top: -50px;

    }
}